<div class="row no-gutters footer">
  <div class="col-md-12 align-self-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">&copy; {{copyrightYear}} AKAN Devices and Solutions</div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center pt-2">
          <a href="{{facebookUrl}}" target="_blank" title="facebook"><i class="fab fa-facebook-f"></i></a>
          <a href="{{linkedInUrl}}" target="_blank" title="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
          <a href="{{youtubeUrl}}" target="_blank" title="Youtube"><i class="fab fa-youtube"></i></a>
          <a href="{{whatsappUrl}}" target="_blank" title="WhatsApp"><i class="fab fa-whatsapp"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>