/*footer bar styles */
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    /* Set he fixed height of the footer here */
    height: 90px;
    background-color: #324851;
    color: white;
} 

.footer a {
    color: white;
    font-size: 20px;
    padding: 0 10px 0 10px;
    border-right: 1px solid white;
    transition: all .5s ease;
}
.footer a:first-child {
    border-left: 1px solid white;
} 
.footer a:hover {
    color: #86AC41;
}