<!-- <div class="row no-gutters">
        <div class="col-md-12 imagebar">
            <div class="imagebar-text">
              <p>
                    The software is licensed, not sold. This agreement only gives you some rights to use the software. Microsoft reserves all other rights. Unless applicable law gives you more rights despite this limitation, you may use the software only as expressly permitted in this agreement. In doing so, you must comply with any technical limitations in the software that only allow you to use it in certain ways. You may not
              </p>
            </div>
        </div>
      </div> -->


      <div class="bg-overlay no-gutters">
            <div class="row no-gutters">
                <div class="col-md-12">
                    <h1>@Learn App's</h1>
                    <span style="text-align: justify;">
                            Technology has been upgrading day by day, giving new opportunities to every department in this universe. Technology has reached to a level to make machines smart enough to reduce human effort to almost zero. 
                            Akan Devices and Solutions is a reseller company that has emerged to outreach many people and their needs and thus bridging the gap between manufacturers and end user/customer to make them avail the advantages of the technology through automation in the field of electronics and communications. 
                            As the tag line mentions “Think. Apply. Simplify. ”, our mission is to propose simpler ways and ideas to enhance the performance of the system. 
                            As we are experienced in the products involving access systems, smart card readers, hand held terminals, other customized products and services; we are mainly devoting on solutions with above products and expand it to future products like IOTs which is trending now.
                    </span>
                </div>
            </div>
        </div>      