<div class="banner2">
    <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1 style="font-size:50px;color: white;">About AKAN</h1>
                </div>
            </div>
    </div>
</div>

<div class="container">
    <div class="row">
            <div class="col-md-12  mt-5">
                <h2 style="text-align:center; font-size: 30px">
                    <strong>
                        <span style="color:#86AC41">
                        Your Technology Enabler
                        </span>
                    </strong>
                </h2>
            </div>
            <div class="col-md-12 divBorder"></div>
    </div>

    <div class="row mt-3" style="margin-bottom: 100px;">
        <div class="col-md-6">
            <p align="justify">
                    Technology has been upgrading day by day, giving new opportunities to every department in this universe. Technology has reached to a level to make machines smart enough to reduce human effort to almost zero. 
                    Akan Devices and Solutions is a reseller company that has emerged to outreach many people and their needs and thus bridging the gap between manufacturers and end user/customer to make them avail the advantages of the technology through automation in the field of electronics and communications.
            </p>
            <p align="justify">
                    As the tag line mentions <b>“Think. Enable. Smart”</b>, our mission is to propose simpler ways and ideas to enhance the performance of the system. 
                    As we are experienced in the products involving access systems, smart card readers, hand held terminals, other customized products and services; we are mainly devoting on solutions with above products and expand it to future products like IoTs which is trending now.
            </p>
        </div>

        <div class="col-md-6">
            <!-- start accordian -->
            <mat-accordion>
                <div class="wrapper">
                <!-- panel-1 -->
                    <mat-expansion-panel [expanded]="true">
                        <mat-expansion-panel-header class="expansion_header">
                            <span style="padding-right: 10px;"><i class="fa fa-desktop" aria-hidden="true"></i></span>    
                            Experience
                        </mat-expansion-panel-header>
                        <ul style="padding-top:20px;">
                          <li>Experience in Hardware, Security and IT Infrastructure</li>
                          <li>Providing End-to-end solution capabilities, including software and hardware operations</li>
                          <!-- <li>heighlight-3</li> -->
                        </ul>
                    </mat-expansion-panel>
                <!-- panel-2 -->
                    <mat-expansion-panel>
                        <mat-expansion-panel-header class="expansion_header">
                            <span style="padding-right: 10px;"><i class="fa fa-leaf" aria-hidden="true"></i></span>
                            Expertise</mat-expansion-panel-header>
                        <ul style="padding-top:20px;">
                            <li>Trending technologies to identify IT Enabling</li>
                            <li>Integration across mobile, networks, IoT and analytics</li>
                            <!-- <li>heighlight-3</li> -->
                        </ul>
                    </mat-expansion-panel>
                <!-- panel-3 -->
                <mat-expansion-panel>
                        <mat-expansion-panel-header class="expansion_header">
                            <span style="padding-right: 10px;"><i class="fa fa-wrench" aria-hidden="true"></i></span>
                            Tools</mat-expansion-panel-header>
                        <ul style="padding-top:20px;">
                            <li>Ready IoT framework for enterprise dashboard solutions </li>
                            <li>Customized tools developed as requirements</li>
                            <li>Multiple Standard label printing solutions</li>
                        </ul>
                    </mat-expansion-panel>
                </div>
            </mat-accordion>
            <!-- end accordian -->
        </div>
    </div>
</div>