/* .imagebar{
    background-image: url('../../assets/banners/aboutus/bgimg_1.jpg');
    background-size: cover;
    min-height:100%;
    text-align: center;
    color: white;
    background-repeat: repeat-x;
  }
  .imagebar-text{
    position: relative;
    text-align: center;
    width: 100%;
    top: 50%; 
    transform: translateY(-50%);
    font-size: 20px;
  }
   */

   .bg-overlay {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("../../assets/banners/aboutus/bgimg_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    color: #fff;
    /* display: flex; */
    height: 450px;
    padding-top: 310px;
    padding-bottom: 448px;
}

