/* go top button */
.goTopBtn{
    visibility: hidden;
    position: fixed;
    bottom: 65px;
    right: 0px;
    z-index: 99;
    font-size: 45px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #00AD6E;
    cursor: pointer;
    padding: 15px;
    width: auto;
    border-radius: 50%;
    transition: all 0.3s linear;
}