<div class="no-gutters">
    <div class="row no-gutters">
        <div class="col-md-12">
            <app-navbar>
                <div #spinnerElement style="text-align:center">
                    <app-overlayloader></app-overlayloader>
                </div>
                <router-outlet></router-outlet>
                <button class="goTopBtn" (click)="onTop()" [ngStyle]="{'visibility': isPageScrolled ? 'visible' : 'hidden'}">
                    <i class="fas fa-arrow-alt-circle-up"></i>
                </button>
                <app-footer></app-footer>
            </app-navbar>
        </div>
    </div>
</div>