<div class="container">
    <div class="row">
        <div class="col-md-12  mt-5">
            <h2 style="text-align:center; font-size: 30px">
                <strong>
                    <span style="color:#86AC41">
                        Products
                    </span>
                </strong>
            </h2>
        </div>
        <div class="col-md-12 divBorder"></div>
    </div>

    <!-- sub-heading -->
    <div class="row">
        <div class="col-md-12">
          <h4>
              <p style="text-align: justify; text-justify: inter-word;">
                AKAN Devices & Solutions  offers products based on Internet of Things(IoT), Cloud, Embedded System, Robotics, GPS Worldwide. AKAN Devices offers the World’s Best IoT Products.
              </p>
          </h4>
        </div>
    </div>

    <div class="row" style="margin-bottom: 130px;">
        <div class="col-sm-2 d-none d-sm-block d-md-none"></div>
        <div class="col-lg-4 col-md-6 col-sm-8">
           <a class="collection-product collection-product-1_topborder grow" [routerLink]="productCategoryEnum.BiometricAndSecurity">
                <div class="pic">
                    <img src="assets/ProductsPics/ProductCategories/IOT_Collection_5.PNG" alt="Biometric and Security">
                </div>
                <h3 class="collection-product_title">
                    <span>Biometric and Security</span>
                </h3>
                <div class="collection-product_bar collection-product-1_barbg">
                    <span>View More >></span>
                </div>
           </a>
        </div>
        <div class="col-sm-2 d-none d-xs-bolck d-sm-block d-md-none"></div>
        <div class="col-sm-2 d-none d-xs-bolck d-sm-block d-md-none"></div>
        <div class="col-lg-4 col-md-6 col-sm-8">
            <a class="collection-product collection-product-2_topborder grow" [routerLink]="productCategoryEnum.HardwareDevices">
                <div class="pic">
                    <img src="assets/ProductsPics/ProductCategories/IOT_Collection_8.jpg" alt="Hardware Devices">
                </div>
                <h3 class="collection-product_title">
                    <span>Hardware Devices</span>
                </h3>
                <div class="collection-product_bar collection-product-2_barbg">
                    <span>View More >></span>
                </div>
            </a>
        </div>
        <div class="col-sm-2 d-none d-xs-bolck d-sm-block d-md-none"></div>
        <div class="col-sm-2 d-none d-xs-bolck d-sm-block d-md-none"></div>
        <div class="col-lg-4 col-md-6 col-sm-8">
            <a class="collection-product collection-product-3_topborder grow" [routerLink]="productCategoryEnum.Iot">
                <div class="pic">
                    <img src="assets/ProductsPics/ProductCategories/IOT_Collection_7.jpg" alt="IOT">
                </div>
                <h3 class="collection-product_title">
                    <span>IoT</span>
                </h3>
                <div class="collection-product_bar collection-product-3_barbg">
                    <span>View More >></span>
                </div>
            </a>
        </div>
        <div class="col-sm-2 d-none d-xs-bolck d-sm-block d-md-none"></div>
    </div>
</div>