<div class="container">

  <div class="row">
    <div class="col-md-12 mt-4 text-right">
      <b><i class="fas fa-angle-left"></i> <i class="fas fa-angle-left"></i> </b>
      <a class="goback" routerLink="../../products"><b>BACK TO PRODUCTS
      </b></a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3 style="text-align:left; font-size: 30px">
        <span style="color:#86AC41">
          {{currentCategory}}
        </span>
      </h3>
    </div>
    <div class="col-md-12 divBorder"></div> 
  </div>

  <div class="row" [ngSwitch]="productcategory">
      <ng-container *ngSwitchCase="'biometricandsecurity'">
        <div class="col-md-4" style="padding-right: 0;">
          <img class="img-responsive" style="width:100%" src="assets/ProductsPics/ProductCategories/IOT_Collection_6.jpg" alt="" />
        </div>
        <div class="col-md-8" style="padding-top:auto;padding-bottom: auto; background-color:#fff;">
            <div class="col-md-12" style="margin-top:auto;margin-bottom:auto; top:25%;">
              <p> biometricandsecurity description</p>
            </div>
         </div>
      </ng-container>

      <ng-container *ngSwitchCase="'hardwaredevices'">
          <div class="col-md-4" style="padding-right: 0;">
            <img class="img-responsive" style="width:100%" src="assets/ProductsPics/ProductCategories/IOT_Collection_8.jpg" alt="" />
          </div>
          <div class="col-md-8" style="padding-top:auto;padding-bottom: auto; background-color:#fff;">
              <div class="col-md-12" style="margin-top:auto;margin-bottom:auto; top:25%;">
                <p>hardwaredevices description</p>
              </div>
           </div>
        </ng-container>

        <ng-container *ngSwitchCase="'iot'">
            <div class="col-md-4" style="padding-right: 0;">
              <img class="img-responsive" style="width:100%" src="assets/ProductsPics/ProductCategories/IOT_Collection_7.jpg" alt="" />
            </div>
            <div class="col-md-8" style="padding-top:auto;padding-bottom: auto; background-color:#fff;">
                <div class="col-md-12" style="margin-top:auto;margin-bottom:auto; top:25%;">
                  <p>iot description</p>
                </div>
             </div>
          </ng-container>
      </div>
  </div>


  <div class="row mt-5 mb-5 no-gutters">
    <div class="col-md-10 ml-auto mr-auto" *ngIf="productsList.length > 0">
      <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4 subnav">
        <ng-container *ngFor="let subCategory of currentSubCategory">
          <mat-tab [label]="subCategory"> 
            <app-productsgrid [products]="filterProducts(subCategory)" (selectedProduct)="getSelectedProduct($event)"></app-productsgrid>
          </mat-tab>
        </ng-container>
      </mat-tab-group>
    </div>
  </div>

              <!-- <ngb-pagination *ngIf="(isHandset$ | async) && (filterProducts(subCategory).length > 0)" class="d-flex justify-content-center mt-4" [collectionSize]="getPageCollectionSize(subCategory)" [(page)]="page"></ngb-pagination>

              <section  class="prods-mobile">
                  <ng-container *ngFor="let img of filterProducts(subCategory);let i = index">
                      <mat-card class="prod-card-mobile box" *ngIf="(i < (page*6)) && (i >= (page*6)-6)" (click)="getSelectedProduct(img)">
                        <mat-card-content>
                            <img [src]="img.imgpath" [alt]="img.name" layout-fill width="100%"> 
                            <h2>{{img.name}}</h2>
                        </mat-card-content>
                      </mat-card>
                  </ng-container>
                </section>
                  
              <ngb-pagination *ngIf="filterProducts(subCategory).length > 0" class="d-flex justify-content-center" [collectionSize]="getPageCollectionSize(subCategory)" [(page)]="page"></ngb-pagination> -->
          <!-- </mat-tab>
      </ng-container> -->

        <!-- <mat-tab label="Biometric Hardware"> 
        <ngb-pagination *ngIf="(isHandset$ | async) && (productsList.length > 0)" class="d-flex justify-content-center mt-4" [collectionSize]="pageCollectionSize" [(page)]="page"></ngb-pagination>

        <section  class="prods-mobile">
            <ng-container *ngFor="let img of productsList;let i = index">
              <mat-card class="prod-card-mobile box" *ngIf="(i < (page*6)) && (i >= (page*6)-6)" (click)="getSelectedProduct(img)">
                <mat-card-content>
                    <img [src]="img.imgpath" [alt]="img.name" layout-fill width="100%"> 
                    <h2>{{img.name}}</h2>
                </mat-card-content>
              </mat-card>
            </ng-container>
          </section>
            
        <ngb-pagination *ngIf="productsList.length > 0" class="d-flex justify-content-center" [collectionSize]="pageCollectionSize" [(page)]="page"></ngb-pagination>
    </mat-tab>

        <mat-tab label="Biometric Software"> 
            <ngb-pagination *ngIf="(isHandset$ | async) && (productsList.length > 0)" class="d-flex justify-content-center mt-4" [collectionSize]="pageCollectionSize" [(page)]="page"></ngb-pagination>

            <section  class="prods-mobile">
                <ng-container *ngFor="let img of productsList;let i = index">
                  <mat-card class="prod-card-mobile box" *ngIf="(i < (page*6)) && (i >= (page*6)-6)" (click)="getSelectedProduct(img)">
                    <mat-card-content>
                        <img [src]="img.imgpath" [alt]="img.name" layout-fill width="100%"> 
                        <h2>{{img.name}}</h2>
                    </mat-card-content>
                  </mat-card>
                </ng-container>
              </section>
                
            <ngb-pagination *ngIf="productsList.length > 0" class="d-flex justify-content-center" [collectionSize]="pageCollectionSize" [(page)]="page"></ngb-pagination>
        </mat-tab>
        <mat-tab label="Security"> 
              
        </mat-tab> -->
      <!-- </mat-tab-group>
    </div>
  </div> -->
  

<!-- <mat-grid-list cols="3" rowHeight="7:5" gutterSize="40px" class="no-gutters" *ngIf="!(isHandset$ | async)">
  <div *ngFor="let img of productsList;let i = index">
  <mat-grid-tile class="no-gutters border border-secondary rounded box" *ngIf="(i < (page*6)) && (i >= (page*6)-6)"   (click)="getSelectedImage(img.name)">
    
      <img  [src]="img.imgpath" [alt]="img.name"  >
    
    <mat-grid-tile-footer>{{img.name}}</mat-grid-tile-footer>
  </mat-grid-tile>
</div>
</mat-grid-list>  -->

<!-- <ngb-pagination *ngIf="(isHandset$ | async) && (productsList.length > 0)" class="d-flex justify-content-center mt-4" [collectionSize]="pageCollectionSize" [(page)]="page"></ngb-pagination> -->
<!-- <div class="row no-gutters"  *ngIf="!(isHandset$ | async)">
  <span  *ngFor="let img of productsList;let i = index">
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 text-center mb-4">
      <div *ngIf="(i < (page*6)) && (i >= (page*6)-6)">
        <mat-card class='product-list-item position-relative'  (click)="getSelectedImage(img.name)">
          <div *ngIf="img">
            <img [src]="img.imgpath" alt="img.name" class="img-fluid" layout-fill width="100%" height="100%"> 
            <div>
              <h4>
                {{img.name}}
              </h4>  
            </div>
          </div>
          <a class='hover-prod-link d-flex align-items-center justify-content-center text-white' >
              {{img.name}}
          </a>
        </mat-card>
        </div>
    </div>
  </span>
</div> -->

  <!-- *ngIf="(i < (page*6)) && (i >= (page*6)-6)"  -->



<!-- <section  class="prods-mobile">
  <ng-container *ngFor="let img of productsList;let i = index">
    <mat-card class="prod-card-mobile box" *ngIf="(i < (page*6)) && (i >= (page*6)-6)" (click)="getSelectedProduct(img)">
      <mat-card-content>
          <img [src]="img.imgpath" [alt]="img.name" layout-fill width="100%"> 
          <h2>{{img.name}}</h2>
      </mat-card-content>
    </mat-card>
  </ng-container>
</section>
  
<ngb-pagination *ngIf="productsList.length > 0" class="d-flex justify-content-center" [collectionSize]="pageCollectionSize" [(page)]="page"></ngb-pagination> -->