<!-- heading-1 -->
<div class="row no-gutters">
    <div class="col-md-12  mt-5">
      <h2 style="text-align:center; font-size: 30px">
        <strong>
          <span style="color:#86AC41">
            Services
          </span>
        </strong>
      </h2>
    </div>
    <div class="col-md-12 divBorder"></div>
  </div>
<!-- sub-heading -->
<div class="row no-gutters">
  <div class="col-md-12">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <h4 style="text-align:justify;text-justify: inter-word;">
                AKAN Devices & Solutions offers products based on Internet of Things(IoT), Cloud, Embedded System, Robotics, GPS Worldwide. AKAN Devices offers the World’s Best IoT Products with latest technologies and services.
            </h4>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- app services -->
<!-- start -->
  <!-- row-1 -->
  <div class="row no-gutters" style="min-height:200px;">
        <!-- app-service-1 -->
        <div class="col-md-4">
          <div class="v-center">
            <div class="h-center">
              <div class="hvrbox hvrbox-1">
                <div class="hvrbox-icon-wrapper">
                  <i class="material-icons hvrbox-icon-style">router</i>
                </div>
                <div class="hvrbox-default-text">ENTERPRISE WIFI SERVICES</div>
                <div class="hvrbox-layer_top hvrbox-layer_slideup">
                  <div class="hvrbox-text_mobile">
                    Know more
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- app-service-2 -->
         <div class="col-md-4">
          <div class="v-center">
            <div class="h-center">
              <div class="hvrbox hvrbox-2">
                <div class="hvrbox-icon-wrapper">
                  <i class="material-icons hvrbox-icon-style">memory</i>
                </div>
                <div class="hvrbox-default-text">HARDWARE SERVICES</div>
                <div class="hvrbox-layer_top hvrbox-layer_slideup">
                  <div class="hvrbox-text_mobile">
                    Know more
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- app-service-3 -->
        <div class="col-md-4">
          <div class="v-center">
            <div class="h-center">
              <div class="hvrbox hvrbox-3">
                <div class="hvrbox-icon-wrapper">
                  <i class="material-icons hvrbox-icon-style">phone_iphone</i>
                </div>
                <div class="hvrbox-default-text">MOBILE APP DEVELOPMENT</div>
                <div class="hvrbox-layer_top hvrbox-layer_slideup">
                  <div class="hvrbox-text_mobile">
                    Know more
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>

  <!-- row-2 -->
  <div class="row no-gutters mb-4" style="min-height:200px;">
    <!-- app-service-4 -->
    <div class="col-md-4">
      <div class="v-center">
        <div class="h-center">
          <div class="hvrbox hvrbox-2">
            <div class="hvrbox-icon-wrapper">
              <i class="material-icons hvrbox-icon-style">cloud</i>
            </div>
            <div class="hvrbox-default-text">CLOUD SERVICES</div>
            <div class="hvrbox-layer_top hvrbox-layer_slideup">
              <div class="hvrbox-text_mobile">
                Know more
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- app-service-5 -->
     <div class="col-md-4">
      <div class="v-center">
        <div class="h-center">
          <div class="hvrbox hvrbox-3">
            <div class="hvrbox-icon-wrapper">
              <i class="fas fa-chart-bar hvrbox-icon-style"></i>
            </div>
            <div class="hvrbox-default-text">IOT SERVICES</div>
            <div class="hvrbox-layer_top hvrbox-layer_slideup">
              <div class="hvrbox-text_mobile">
                Know more
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- app-service-6 -->
    <div class="col-md-4">
      <div class="v-center">
        <div class="h-center">
          <div class="hvrbox hvrbox-1">
            <div class="hvrbox-icon-wrapper">
              <i class="fas fa-cogs hvrbox-icon-style"></i>
            </div>
            <div class="hvrbox-default-text">SOFTWARE SERVICES</div>
            <div class="hvrbox-layer_top hvrbox-layer_slideup">
              <div class="hvrbox-text_mobile">
                Know more
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- end -->

<!-- div with image bar and Contact Button -->
<div class="row no-gutters">
    <div class="col-md-12 mt-4 mb-4 imagebar">
        <div class="imagebar-text">
          <div class="row no-gutters">
            <div class="col-md-8">
                <span><h3 style="margin-top:10px;">Want To Try Our Services</h3></span>
            </div>
            <div class="col-md-4" style="margin-top:5px;">
                <button type="button" mat-raised-button (click)="onContact()">CONTACT</button>
            </div>
          </div>
        </div>
    </div>
  </div>


<!-- heading-2 -->
<div class="row no-gutters">
    <div class="col-md-12  mt-5">
      <h2 style="text-align:center; font-size: 30px">
        <strong>
          <span style="color:#86AC41">
            Our Speciality
          </span>
        </strong>
      </h2>
    </div>
    <div class="col-md-12 divBorder"></div>
  </div>

<!-- FlipCard Animations -->
<!-- start -->
<div class="row no-gutters mb-4">
  <!-- FlipCard-1 -->
  <div class="col-md-4">
      <div class="flip_container">
          <div class="flip_card">
            <div class="face">
              <div style="margin:15px;">
                <div class="flip_card_icon">
                  <i class="fab fa-connectdevelop" style="padding-top:23px;"></i>
                </div>
                <p style="padding-top:10px;">IOT</p>
              </div>
            </div>
            <div class="face back">
              <div style="margin:42px;">
                  <button type="button" mat-stroked-button style="margin-top:10px; margin-bottom:12px;">KNOW MORE</button>
              </div>
            </div>
          </div>
        </div>
  </div>
  <!-- FlipCard-2 -->
  <div class="col-md-4">
      <div class="flip_container">
          <div class="flip_card">
            <div class="face">
              <div style="margin:15px;">
                <div class="flip_card_icon">
                  <i class="fas fa-code" style="padding-top:23px;"></i>
                </div>
                <p style="padding-top:10px;">Development</p>
              </div>
            </div>
            <div class="face back">
              <div style="margin:42px;">
                  <button type="button" mat-stroked-button style="margin-top:10px; margin-bottom:12px;">KNOW MORE</button>
              </div>
            </div>
          </div>
        </div>
  </div>
  <!-- FlipCard-3 -->
  <div class="col-md-4">
      <div class="flip_container">
          <div class="flip_card">
            <div class="face">
              <div style="margin:15px;">
                <div class="flip_card_icon">
                  <i class="fas fa-users" style="padding-top:23px;"></i>
                </div>
                <p style="padding-top:10px;">Staffing</p>
              </div>
            </div>
            <div class="face back">
              <div style="margin:42px;">
                  <button type="button" mat-stroked-button style="margin-top:10px; margin-bottom:12px;">KNOW MORE</button>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>
<!-- end -->