/* You can add global styles to this file, and also import other style files*/

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; 

/*Avoiding some margins & padding for bootstrap container & rows*/
.no-gutters{
    padding-left:0;
    padding-right:0;
    margin-right:0;
    margin-left:0;
}


html {
    position: relative;
    min-height: 100%;
    scroll-behavior: smooth;
}
body {
 /* Margin bottom by footer height */
    margin:0px;
    height: 100%;
    font-family: 'Roboto', "Helvetica Neue", sans-serif;  
}


/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */