<!-- <carousel>
  <slide>
    <img src="assets/banners/1.jpg" alt="first slide" style="display: block;max-height: 300pt; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </slide>
  <slide>
    <img src="assets/banners/2.jpg" alt="second slide" style="display: block; max-height: 300pt;width: 100%;">
  </slide>
  <slide>
    <img src="assets/banners/3.jpg" alt="third slide" style="display: block;max-height: 300pt; width: 100%;">
  </slide>
</carousel>  -->

<!--
<div id="slider">
  <figure>
  <img src="../../assets/banners/1.jpg" alt>
  <img src="../../assets/banners/2.jpg" alt>
  <img src="../../assets/banners/3.jpg" alt>
  </figure>
</div> -->

<!-- <ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <img [src]="../../assets/banners/1.jpg" alt="Random first slide">
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="../../assets/banners/2.jpg" alt="Random second slide">
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="../../assets/banners/3.jpg" alt="Random third slide">
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </ng-template>
</ngb-carousel> -->

<!-- carousel start-->
<div>
  <carousel>
    <!-- slide-1 -->
    <slide>
        <img src="assets/banners/11.png" alt="third slide" style="display: block;max-height: 300pt; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
            <h3>First slide label</h3>
            <p>There is no free developer of a quiver propaganda soft sometimes.</p>
        </div>
    </slide>
    <!-- slide-2 -->
    <slide>
        <img src="assets/banners/13.png" alt="third slide" style="display: block;max-height: 300pt; width: 100%;">
    </slide>
    <!-- slide-3 -->
    <slide>
      <img src="assets/banners/15.png" alt="third slide" style="display: block;max-height: 300pt; width: 100%;">
  </slide>
  </carousel>
</div>
<!-- carousel end -->


<!-- heading-1 -->
<div class="row no-gutters">
<div class="col-md-12  mt-5">
  <h2 style="text-align:center; font-size: 30px">
    <strong>
      <span style="color:#86AC41">
        Who we are ?
      </span>
    </strong>
  </h2>
</div>
<div class="col-md-12 divBorder"></div>
</div>


<!-- icons with mouse over color change -->
<div class="row no-gutters">
<!-- mouseover icon-1 -->
<div class="col-md-3 icon">
  <div class="icon">
    <i class="fontawesome-icon fa fa-rocket circle-yes iconstyle "></i>
    <h2 class="icontitle">Startup</h2>
  </div>
</div>
<!-- mouseover icon-2 -->
<div class="col-md-3 icon">
  <div class="icon">
    <i class="fontawesome-icon  fa fa-cloud iconstyle"></i>
    <h2 class="icontitle">IoT Platform</h2>
  </div>
</div>
<!-- mouseover icon-3 -->
<div class="col-md-3 icon">
  <div class="icon">
    <i class="fontawesome-icon  fa fa-microchip iconstyle"></i>
    <h2 class="icontitle">Hardware</h2>
  </div>
</div>
<!-- mouseover icon-4 -->
<div class="col-md-3 icon">
  <div class="icon">
    <i class="fontawesome-icon  fa fa-wifi iconstyle"></i>
    <h2 class="icontitle">Wireless</h2>
  </div>
</div>
</div>


<!-- div with image bar and quote -->
<div class="row no-gutters">
<div class="col-md-12 mt-4 mb-4 imagebar bgimagequote">
    <div class="imagebar-text">
      <span>"The Internet of Things has the potential to change the world, just as the Internet did. May be even more so." -<i>Kevin Ashton</i></span>
    </div>
</div>
</div>


<!-- heading-2 -->
<div class="row no-gutters">
<div class="col-md-12  mt-5">
  <h2 style="text-align:center; font-size: 30px">
    <strong>
      <span style="color:#86AC41">
        What we do ?
      </span>
    </strong>
  </h2>
</div>
<div class="col-md-12 divBorder"></div>
</div>


<!-- icons with mouse over animation -->
<!-- start -->
<!-- row-1 -->
<div class="row no-gutters">
<!-- animation icon-1 -->
<div class="col">&nbsp;</div>
<div class="col-md-5">
  <div class="row justify-content-center no-gutters">
    <div class="col-3 col-xm-4">
        <div class="button">
            <div class="icons">
              <i class="fab fa-connectdevelop icon-default icon-hover"></i>
            </div>
        </div>
    </div>
    <div class="col-5 col-md-6" style="padding-left: 15px;">
        <span class="animationicontitle">M2M Connecting</span>
    </div>
  </div>
</div>
<!-- animation icon-2 -->
<div class="col-md-5">
    <div class="row justify-content-center no-gutters">
      <div class="col-2">&nbsp;</div>
      <div class="col-3 col-xm-4">
          <div class="button">
              <div class="icons">
                <i class="fas fa-binoculars icon-default icon-hover"></i>
              </div>
          </div>
      </div>
      <div class="col col-md-7 pr-0"  style="padding-left: 15px;">
          <span class="animationicontitle">Monitoring Applications</span>
      </div>
    </div>
  </div>
  <div class="col">&nbsp;</div>
</div>

<!-- row-2 -->
<div class="row no-gutters">
  <!-- animation icon-3 -->
  <div class="col">&nbsp;</div>
  <div class="col-md-5">
    <div class="row justify-content-center no-gutters">
      <div class="col-3 col-xm-4">
          <div class="button">
              <div class="icons">
                <i class="fa fa-mobile-alt icon-default icon-hover"></i>
              </div>
            </div>
      </div>
      <div class="col-5 col-md-6" style="padding-left: 15px;">
          <span class="animationicontitle">Mobility</span>
      </div>
    </div>
  </div>
  <!-- animation icon-4 -->
  <div class="col-md-5">
      <div class="row justify-content-center no-gutters">
        <div class="col-2">&nbsp;</div>
        <div class="col-3 col-xm-4">
            <div class="button">
                <div class="icons">
                  <i class="fa fa-cloud icon-default icon-hover"></i>
                </div>
              </div>
        </div>
        <div class="col col-md-7 pr-0" style="padding-left: 15px;">
            <span class="animationicontitle">IOT and Cloud</span>
        </div>
      </div>
    </div>
    <div class="col">&nbsp;</div>
</div>
<!-- end -->


<!-- application features on fixed image -->
<div class="row no-gutters imgbarfixed mb-2">
  <div class="col-md-12 translayer">
    <div class="row no-gutters  mt-4 mb-4">
      <div class="col-md-12" style="padding-left: 30px;">
        <h2 style="margin-bottom: 20px;">
          <span>
              Learn-app’s Safety and Monitoring with IoT Solution
          </span>
        </h2>
        <ul style="list-style-type: none; color:#86AC41; line-height: 60px;">
          <!-- feature-1 -->
          <li>
              <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-clock fa-stack-1x fa-inverse"></i>
              </span>
              <span style="color:white; font-weight: 100; font-size:23px;  padding-left: 15px;">Real Time View of Things</span>
          </li>
          <!-- feature-2 -->
          <li>
              <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-comment fa-stack-1x fa-inverse"></i>
              </span>
              <span style="color:white; font-weight: 100; font-size:23px; padding-left: 15px;">Instant Notification Alerts</span>
          </li>
          <!-- feature-3 -->
          <li>
              <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-volume-up fa-stack-1x fa-inverse"></i>
              </span>
              <span style="color:white; font-weight: 100; font-size:23px; padding-left: 15px;">Instant Voice Alerts</span>
          </li>
          <!-- feature-4 -->
          <li>
              <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-chart-bar fa-stack-1x fa-inverse"></i>
              </span>
              <span style="color:white; font-weight: 100; font-size:23px; padding-left: 15px;">Data Analysis</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<!-- heading-3 -->
<div class="row no-gutters">
<div class="col-md-12  mt-5">
  <h2 style="text-align:center; font-size: 30px">
    <strong>
      <span style="color:#86AC41">Crossing Boundaries</span>
    </strong>
  </h2>
</div>
<div class="col-md-12 divBorder" style="max-width: 35%;"></div>
</div>


<!-- animating percentage of ExtraFeatures -->
<!-- begin -->
<div class="row no-gutters imagebar bgImageFeatures mb-5" style="min-height:200px;">
<!-- ExtraFeatrue-1 -->
<div class="col-md-4 translayer">
  <div class="text-center v-center">
    <div class="counterbox">
      <span style="font-size: 50px;" appCountToCounter [toValue]="100" (onCount)="counter1 = $event" >{{counter1}}%</span>
      <h5>Customer Satisfaction</h5>
    </div>
  </div>
</div>
<!-- ExtraFeatrue-2 -->
<div class="col-md-4 translayer">
  <div class="text-center v-center">
    <div class="counterbox">
      <span style="font-size: 50px;" appCountToCounter [toValue]="85" (onCount)="counter2 = $event" >{{counter2}}%</span>
      <h5>Server Uptime</h5>
    </div>
  </div>
</div>
<!-- ExtraFeatrue-3 -->
<div class="col-md-4 translayer">
  <div class="text-center v-center">
    <div class="counterbox">
      <span style="font-size: 50px;" appCountToCounter [toValue]="75" (onCount)="counter3 = $event" >{{counter3}}%</span>
      <h5>Reduction In Development Time</h5>
    </div>
  </div>
</div>
</div>
<!-- end -->
