/* carousel slide image */
.carousel-image{
  display: block;
  max-height: 300pt;
  width: 100%;
}

/* IOT icons */
.iconstyle{
  border-color:#324851;
  border-width:1px;
  background-color: #324851;
  box-sizing:content-box;
  height:80px;
  width:80px;
  line-height:80px;
  color:#ffffff;
  font-size:35px;
  border-radius: 50%;
  text-align: center;
}

.icon-mhover{
  cursor: pointer;
  -moz-transition: all 2s ease-in;
  -o-transition: all 2s ease-in;
  -webkit-transition: all 2s ease-in;
  transition: all 2s ease-in;
}
.icon-mhover:hover h2{
  color: #86AC41;
}
.icon-mhover:hover i{
  background-color: #86AC41;
}

.icontitle{
  margin-top: 15px;
  font-size:18px;
  line-height:23px;
  color:#324851;
  font-weight: 500;
  font-style: normal;
}

.icon{
  text-align: center;
  margin-bottom: 15px;
}


/* border separator */
.divBorder
{
  top: 0px;
  padding: 0px 2px 20px 3px;    
  border-width: 2px;
  border-bottom: 1px #86AC41 solid;
  width: 100%;
  max-width: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 35px;
}

/* div as bar with image */
.imagebar{
  min-height:100px;
  text-align: center;
  color: white;
  background-repeat: repeat-x;
  background-size: cover;
}
.bgimagequote{
  background-image: url('../../assets/banners/divbanner/home_div_img_4.jpg');
}
.imagebar-text{
  position: relative;
  text-align: center;
  width: 100%;
  top: 50%; 
  transform: translateY(-50%);
  font-size: 20px;
}


/* icons animation styles on mouse over */
/* start */
.button {
  position: relative;
  margin-bottom: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #86AC41;
  box-shadow: 0px 0px 0 40px rgba(0, 0, 0, 0);
  border-radius: 50%;
  width: 106px;
  height: 106px;
  padding: 0rem 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 5.75rem;
  color: #324851;
  cursor: pointer;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.button .icons {
  position: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0rem 0rem 0rem 0rem;
  width: 6.25rem;
  height: 2.4rem;
  bottom: 0rem;
  left: 0px;
}
.button .icons i {
  position: inherit;
  top: 0;
  left: 0;
  display: block;

}
.button .icons .icon-default {
  transition: opacity 0.3s, transform 0.3s;
}
.button .icons .icon-hover {
  transform: rotate(0deg) scale(0.5);
}
.button:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px #86AC41;
}
.button:hover .icon-hover {
  transform: rotate(0deg) scale(1);
  opacity: 1;
}
.button:hover .icon-default {
  transform: rotate(360deg) scale(0.5);
  opacity: 1;
}

.animationicontitle{
  padding-left: 10px;
  font-size:28px;
  height: 121px;
  display: table-cell;
  vertical-align: middle;
  color:#324851;
  font-weight: 500;
  font-style: normal;
}
/* End */

/* content scroll on imageDiv */
.imgbarfixed{
  background: #324851 url('../../assets/banners/divbanner/home_div_img_20_3.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  backface-visibility: hidden;
  /* background-color: rgba(10,10,10,0); */
  background-position-x: center;
  background-position-y: center;
  color: white;
}

/* features on fixed image styles */
.feature-list{
  list-style-type: none;
  color:#86AC41;
  line-height: 60px;
  padding:0px;
}
.feature-list-item-text{
  color:white;
  font-weight: 100;
  font-size:23px;
  padding-left: 15px;
}

/* animated counters vertical alignment */
.v-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 20px;
}
.counterbox{
  border:#7DA3A1 0.1px solid;
  padding:20px;
}
.bgImageFeatures{
  background-image: url('../../assets/banners/divbanner/home_div_img_6.png');
  background-color: #324851;
  min-height:100px;
  color: #ffffff;
  background-repeat: repeat-x;
  background-size: cover;
}
.translayer{
  background-color:  rgba(0, 0, 0, 0.4);
}